/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2014, 12:42:13 PM
    Author     : Wins
*/
  #mos2{      
        font-size:12px;
        border:0px;
        width:62px;
        height:40px;
       }
       #ocu2{
           font-size:12px;
        border:0px;
        width:62px;
        height:40px;
       }
       #mos{
           font-size:12px;
        border:0px;
        width:62px;
        height:40px;
       }
       #ocu{
           font-size:12px;
        border:0px;
        width:62px;
        height:40px;
       }
