body{
	background:#333;
	color:#000;
	font:13px normal Tahoma, Verdana, Arial, sans-serif;
	padding:0; margin:0;
}
		
h1{
	text-align:center;
	color:#FFF;
        th{
            color: #000000;
        } 
        
        
            
}
strong{
    color:#333;
}

//color de tabla 
table{
	background:#808080;
	border-radius:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border:solid 1px #333;
	color:#000C;
	border-top:none;
	padding:10px;
}
	table caption{
		text-indent:15px;
		background:#FA770C url(../img/contraer.png) left center no-repeat;
		text-align:left;
		cursor:pointer;
		padding:5px;
		font-style:normal;
		color:#FFF;
		border-radius:5px;
                border:solid 1px #ffffffd4e;
		border-bottom-left-radius:0px;
		border-bottom-right-radius:0px;
		border-bottom:none;
	}
#divContenedor{
	position:absolute;
	left:50%;
	margin-left:-470px;
	top:0px;
	width:940px;
	z-index:1000;
}
	#divContenedorTabla{
		padding:4px;
		float:left;
	}
#divCali{
	position:fixed;
	bottom:0;
	width:100%;
	text-align:right;
        background:#ffffff770C;
	border-top:solid 2px #000;
}
	#divCali img{
		padding:20px;
		border:0;
	}
.clsAnchoTotal{
	width:95%;
}
.clsExpandir{
	background:#FA770C url(../img/expandir.png) left center no-repeat;
}
.clsContraer{
	background:#FA770C url(../img/contraer.png) left center no-repeat;
}