BODY { 
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
   margin: 10px 0px 10px 0px; 
   text-align: center; 
    background-color: #ffffff; 
} 
#noimp{
    visibility: hidden;
    font-size: 0px;
} 
#imp{ 
   visibility: visible;
   margin-top: 10px;
} 